___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Авторские права принадлежат Pierian Data Inc.</em></center>
<center><em>Для дополнительной информации посетите наш сайт <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Методы для работы со временем - Time

## Обзор Python Datetime

Базовые методы по работе с датами и временем в Python (вне Pandas) есть в библиотеке datetime:

In [1]:
from datetime import datetime

In [2]:
# Создаём набор отдельных компонент даты-времени
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [3]:
# 2 января 2017
my_date = datetime(my_year,my_month,my_day)

In [4]:
# по умолчанию 0:00
my_date

datetime.datetime(2017, 1, 2, 0, 0)

In [5]:
# 2 января 2017 в 13:30:15
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)

In [6]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

Мы можем получить отдельные составляющие даты и времени

In [7]:
my_date.day

2

In [8]:
my_date_time.hour

13

# Pandas

# Конвертация в datetime

Очень часто дата и время могут храниться в виде строки (string). В Pandas можно легко сконвертировать строки в объекты datetime.

In [9]:
import pandas as pd

In [10]:
myser = pd.Series(['Nov 3, 2000', '2000-01-01', None])

In [11]:
myser

0    Nov 3, 2000
1     2000-01-01
2           None
dtype: object

In [12]:
myser[0]

'Nov 3, 2000'

### pd.to_datetime()

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#converting-to-timestamps

In [14]:
pd.to_datetime(myser, arg='str' )

TypeError: to_datetime() got multiple values for argument 'arg'

In [15]:
pd.to_datetime(myser)[0]

ValueError: time data "2000-01-01" doesn't match format "%b %d, %Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [16]:
obvi_euro_date = '31-12-2000'

In [17]:
pd.to_datetime(obvi_euro_date)

C:\Users\virgi\AppData\Local\Temp\ipykernel_13852\272727512.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(obvi_euro_date)

Timestamp('2000-12-31 00:00:00')

In [18]:
# 10 декабря или 12 октября?
# Мы можем явно указать pandas, где день и где месяц
euro_date = '10-12-2000'

In [19]:
pd.to_datetime(euro_date)

Timestamp('2000-10-12 00:00:00')

In [20]:
pd.to_datetime(euro_date,dayfirst=True)

Timestamp('2000-12-10 00:00:00')

## Нестандартное форматирование строки с датой/временем

Иногда даты хранятся в строках (string) в нестандартном формате. К счастью, мы можем указать формат. Также следует заметить, что такой подход может ускорить конвертацию, поэтому формат указывает стоит даже в тех случаях, когда pandas может сам понять его на основе данных.

Полный набор обозначений, которые можно применять в формате, доступен здесь: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

In [21]:
style_date = '12--Dec--2000'

In [22]:
pd.to_datetime(style_date, format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [23]:
strange_date = '12th of Dec 2000'

In [24]:
pd.to_datetime(strange_date)

Timestamp('2000-12-12 00:00:00')

## Данные

Продажи:  Beer, Wine, and Liquor Stores

Единицы изменения:  Миллионы долларов, без сезонных корректировок

Частота:  Ежемесячно


Источник: U.S. Census Bureau, Retail Sales: Beer, Wine, and Liquor Stores [MRTSSM4453USN], retrieved from FRED, Federal Reserve Bank of St. Louis; https://fred.stlouisfed.org/series/MRTSSM4453USN, July 2, 2020.

In [25]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')

In [26]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [27]:
sales.iloc[0]['DATE']

'1992-01-01'

In [28]:
type(sales.iloc[0]['DATE'])

str

In [29]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [30]:
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [31]:
sales.iloc[0]['DATE']

Timestamp('1992-01-01 00:00:00')

In [32]:
type(sales.iloc[0]['DATE'])

pandas._libs.tslibs.timestamps.Timestamp

------

## Попытка разобрать ("распарсить") даты автоматически

**parse_dates** - bool, или список чисел или названий, или список списков, или словарь, по умолчанию False.
Работает следующим образом:

    boolean. Если True -> попробовать выполнить "парсинг" индекса.

    список чисел или названий, например [1, 2, 3] -> попробовать "распарсить" колонки 1, 2, 3 как отдельные колонки с датой.

    список списков, например [[1, 3]] -> объединить колонки 1 и 3, и распарсить как единую колонку с датой.

    словарь, например {‘foo’ : [1, 3]} -> "распарсить" колонки 1, 3 как дату, и назвать результат ‘foo’

Если колонка или индекс не могут быть представлены в виде массива значений datetime, например потому что значение не может быть "распарсено" или содержит разные часовые пояса, то такая колонка или индекс будут возвращены без изменений, в исходном виде. 

Для нестандартного "парсинга" datetime можно использовать pd.to_datetime уже после применения read_csv.  

Чтобы "распарсить" индекс или колонку с разными часовыми поясами, можно использовать параметр date_parser метода read_csv и pandas.to_datetime() с параметром utc=True - более подробно можно прочитать [здесь](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-csv-mixed-timezones).

In [33]:
# Парсинг колонки с индексом 0 в тип данных Datetime
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv',parse_dates=[0])

In [34]:
sales

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [35]:
type(sales.iloc[0]['DATE'])

pandas._libs.tslibs.timestamps.Timestamp

## Агрегация данных с помощью Resample


Для временных рядов часто применяется операция ресемплирования на основе индекса по времени. Давайте посмотрим на метод resample(). [[Документация (англ.)](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html)]

In [36]:
# Наш индекс
sales.index

RangeIndex(start=0, stop=340, step=1)

In [37]:
# Выбираем DATE в качестве индекса

In [16]:
sales = sales.set_index("DATE")

NameError: name 'sales' is not defined

In [17]:
sales

NameError: name 'sales' is not defined

При вызове `.resample()` следует сначала передать параметр **rule** (см. ниже), а затем вызвать одну и функций агрегации.

Параметр **rule** указывает, с какой частотой следует применять функцию агрегации - ежедневно, ежемесячно, по годам и т.д.<br>
Эти значения передаются с помощью значений "offset alias" - см. таблицу ниже. [[Документация](http://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases)]

Агрегация нужна по той причине, что когда мы выполняем ресемплирование, то нам нужно как-то агрегировать данные (среднее mean, сумма sum, количество count и т.д.)

<table style="display: inline-block">
    <caption style="text-align: center"><strong>TIME SERIES OFFSET ALIASES</strong></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>B</td><td>business day frequency</td></tr>
<tr><td>C</td><td>custom business day frequency (experimental)</td></tr>
<tr><td>D</td><td>calendar day frequency</td></tr>
<tr><td>W</td><td>weekly frequency</td></tr>
<tr><td>M</td><td>month end frequency</td></tr>
<tr><td>SM</td><td>semi-month end frequency (15th and end of month)</td></tr>
<tr><td>BM</td><td>business month end frequency</td></tr>
<tr><td>CBM</td><td>custom business month end frequency</td></tr>
<tr><td>MS</td><td>month start frequency</td></tr>
<tr><td>SMS</td><td>semi-month start frequency (1st and 15th)</td></tr>
<tr><td>BMS</td><td>business month start frequency</td></tr>
<tr><td>CBMS</td><td>custom business month start frequency</td></tr>
<tr><td>Q</td><td>quarter end frequency</td></tr>
<tr><td></td><td><font color=white>intentionally left blank</font></td></tr></table>

<table style="display: inline-block; margin-left: 40px">
<caption style="text-align: center"></caption>
<tr><th>ALIAS</th><th>DESCRIPTION</th></tr>
<tr><td>BQ</td><td>business quarter endfrequency</td></tr>
<tr><td>QS</td><td>quarter start frequency</td></tr>
<tr><td>BQS</td><td>business quarter start frequency</td></tr>
<tr><td>A</td><td>year end frequency</td></tr>
<tr><td>BA</td><td>business year end frequency</td></tr>
<tr><td>AS</td><td>year start frequency</td></tr>
<tr><td>BAS</td><td>business year start frequency</td></tr>
<tr><td>BH</td><td>business hour frequency</td></tr>
<tr><td>H</td><td>hourly frequency</td></tr>
<tr><td>T, min</td><td>minutely frequency</td></tr>
<tr><td>S</td><td>secondly frequency</td></tr>
<tr><td>L, ms</td><td>milliseconds</td></tr>
<tr><td>U, us</td><td>microseconds</td></tr>
<tr><td>N</td><td>nanoseconds</td></tr></table>

In [38]:
# Средние значения о годам
sales.resample(rule='A').mean(numeric_only=True)

C:\Users\virgi\AppData\Local\Temp\ipykernel_13852\2441829906.py:2: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  sales.resample(rule='A').mean(numeric_only=True)

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

Правило 'A' берёт все данные за конкретный год, применяет к ним функцию агрегации (в нашем случае среднее - mean), и выводит результат для последнего дня этого года. Обратите внимание, что в этих данных 2020 год является неполным.

# Метод .dt

Как только колонка или индекс приведены в формат datetime, мы можем вызывать различные методы библиотеки .dt внутри pandas:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html

In [19]:
sales = sales.reset_index()

NameError: name 'sales' is not defined

In [20]:
sales

NameError: name 'sales' is not defined

In [21]:
help(sales['DATE'].dt)

NameError: name 'sales' is not defined

In [22]:
sales['DATE'].dt.month

NameError: name 'sales' is not defined

In [23]:
sales['DATE'].dt.is_leap_year

NameError: name 'sales' is not defined

In [47]:
import numpy as np
import pandas as pd

from datetime import datetime

In [48]:
myyear = 2015
mymonth = 1
myday = 1
myhour = 2
mymin = 30
mysec = 15

In [49]:
mydate = datetime(myyear, mymonth, myday)

In [50]:
mydate

datetime.datetime(2015, 1, 1, 0, 0)

In [51]:
mydatetime = datetime(myyear, mymonth, myday, myhour, mymin, mysec)

In [52]:
mydatetime

datetime.datetime(2015, 1, 1, 2, 30, 15)

In [53]:
mydatetime.hour

2

In [54]:
myser = pd.Series(['Nov 3, 1990', '2000-01-01', None])

In [55]:
myser

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

In [57]:
timeser = pd.to_datetime(myser, format='mixed')

In [58]:
timeser

0   1990-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [60]:
timeser[0].year

1990

In [63]:
obvi_euro_date = '31-12-2000'

In [64]:
pd.to_datetime(obvi_euro_date)

C:\Users\virgi\AppData\Local\Temp\ipykernel_14252\163700324.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  pd.to_datetime(obvi_euro_date)

Timestamp('2000-12-31 00:00:00')

In [65]:
euro_date = '10-12-2000'

In [66]:
pd.to_datetime(euro_date)

Timestamp('2000-10-12 00:00:00')

In [67]:
pd.to_datetime(euro_date, dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [68]:
style_date = '22--Dec--2000'

In [70]:
pd.to_datetime(style_date, format='%d--%b--%Y')

Timestamp('2000-12-22 00:00:00')

In [71]:
custom_date = '12th of Dec 2000'

In [72]:
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [73]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')

In [74]:
sales.head()

         DATE  MRTSSM4453USN
0  1992-01-01           1509
1  1992-02-01           1541
2  1992-03-01           1597
3  1992-04-01           1675
4  1992-05-01           1822

In [75]:
sales['DATE'] = pd.to_datetime(sales['DATE'])

In [78]:
sales['DATE'][0].year

1992

In [79]:
sales_p = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates=[0])

In [81]:
sales_p

          DATE  MRTSSM4453USN
0   1992-01-01           1509
1   1992-02-01           1541
2   1992-03-01           1597
3   1992-04-01           1675
4   1992-05-01           1822
..         ...            ...
335 2019-12-01           6630
336 2020-01-01           4388
337 2020-02-01           4533
338 2020-03-01           5562
339 2020-04-01           5207

[340 rows x 2 columns]

In [84]:
sales_p = sales_p.set_index('DATE')

In [85]:
sales_p

            MRTSSM4453USN
DATE
1992-01-01           1509
1992-02-01           1541
1992-03-01           1597
1992-04-01           1675
1992-05-01           1822
...                   ...
2019-12-01           6630
2020-01-01           4388
2020-02-01           4533
2020-03-01           5562
2020-04-01           5207

[340 rows x 1 columns]

In [89]:
sales_p.resample(rule='YE').mean()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000