In [1]:
import pandas as pd

In [14]:
url = r'C:\Users\virgi\Downloads\sample4.csv'

In [15]:
dataframe = pd.read_csv(url)

dataframe.head()

In [21]:
dataframe.head()

   Game Number   "Game Length"
0            1              30
1            2              29
2            3              31
3            4              16
4            5              24